<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Services.NuGet.CredentialProvider" version="0.37.0" targetFramework="net48" />
  <package id="Microsoft.Web.Xdt" version="3.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NuGet.Build" version="2.12.1" targetFramework="net48" />
  <package id="NuGet.CommandLine" version="4.9.6" targetFramework="net48" developmentDependency="true" />
  <package id="NuGet.Commands" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.Common" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.Configuration" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.Credentials" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.DependencyResolver.Core" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.Frameworks" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.LibraryModel" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.PackageManagement" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.Packaging" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.ProjectModel" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.Protocol" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.Resolver" version="6.9.1" targetFramework="net48" />
  <package id="NuGet.Versioning" version="6.9.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>